<div  class="framework-1x-directives-internal-page">
	<h1>{{getText('TITLE')}}</h1>
	<h6 class="border-0 font-weight-normal pb-0">{{getText('SUBTITLE')}}</h6>
	<p [html]="getText('TEXT')"></p>

    <section>
        <h4>
            <a href="#if" name="if">
                {{getText('IF.TITLE')}}
            </a>
        </h4>
        <p [html]="getText('IF.TEXT')"></p>
		<pre>
			<code class="html">
&lt;div class="example-page"&gt;
	&lt;button @if="quantity > 0"&gt;Enter&lt;/button&gt;
&lt;/div&gt;
			</code>
		</pre>
    </section>

    <section>
        <h4>
            <a href="#for" name="for">
                {{getText('FOR.TITLE')}}
            </a>
        </h4>
        <p [html]="getText('FOR.TEXT')"></p>
		<pre>
			<code class="html" [content]="FOR_EXAMPLE_HTML">
			</code>
		</pre>
    </section>

    <section>
        <h4>
            <a href="#html" name="html">
                {{getText('HTML.TITLE')}}
            </a>
        </h4>
        <p [html]="getText('HTML.TEXT')"></p>
		<pre>
			<code class="html">
&lt;div class="example-page"&gt;
	&lt;p [html]="myCustomHTML"&gt;&lt;/p&gt;
&lt;/div&gt;
			</code>
		</pre>
    </section>

    <section>
        <h4>
            <a href="#content" name="content">
                {{getText('CONTENT.TITLE')}}
            </a>
        </h4>
        <p [html]="getText('CONTENT.TEXT')"></p>
		<pre>
			<code class="html">
&lt;div class="example-page"&gt;
	&lt;p content="Hello World!"&gt;&lt;/p&gt;
&lt;/div&gt;
			</code>
		</pre>
    </section>
</div>