@import 'src/scss/variables';

.document-page {

    > header {
        display: table;
        width: 100%;
        border-bottom: solid rgba(#FFF, .15) 1px;
        height: 54px;
        padding: 0 20px 0 0;
        background: darken($primaryColor, 15);

        .document-page-logo {
            display: table-cell;
            vertical-align: middle;
            width: 220px;
            padding: 0 20px;
            background: darken($primaryColor, 5);

            > img {
                max-width: 100px;
                height: auto;
                display: block;
                margin: auto;
            }
        }

        > ul {
            padding-left: 20px;
            margin: 0;
            display: table-cell;
            vertical-align: middle;

            > li {
                display: block;
                float: left;
            }
        }
    }

    .document-page-area {
        display: table;
        height: calc(100vh - 54px);
        width: 100%;

        .document-page-menu {
            display: table-cell;
            vertical-align: top;
            width: 220px;
            background: #2B2B2B;
            box-shadow: 0 0 20px rgba(#000000, .1);
            border-right: solid rgba(#FFF, .06) 1px;

            > ul {
                width: 100%;
                height: 100%;
                padding: 10px 0;
                margin: 0;
                overflow-y: auto;

                > li {
                    list-style: none;
                    display: block;

                    > a,
                    > span {
                        display: block;
                        font-size: 15px;
                        font-weight: 500;
                        padding: 3px 15px;
                    }

                    > ul {
                        width: 100%;
                        height: 100%;
                        padding-left: 30px;
                        font-size: 13px;
        
                        > li {
                            list-style: none;
                            display: block;

                            > ul {
                                width: 100%;
                                height: 100%;
                                padding-left: 30px;
                
                                > li {
                                    list-style: none;
                                    display: block;
                                }
                            }
                        }
                    }
                }

                li {
                    cursor: pointer;
                    color: #999;

                    &.active {
                        color: $primaryColor;
                    }

                    span,
                    a,
                    a:visited {
                        display: block;
                        color: #999;
                        text-decoration: none;
                    }

                    > span:hover,
                    a:hover,
                    a:active {
                        color: lighten($primaryColor, 15);
                        text-decoration: underline;
                    }
                }
            }
        }

        .document-page-content {
            display: table-cell;
            vertical-align: top;
            padding: 20px 30px 20px 50px;
        }
    }
}