<div class="document-page">
    <div class="document-page-left" [class]="{ 'menu-slided-to-right': showMenu }">
        <div class="document-page-left-header">
            <div class="home-header-menu-close" (click)="toggleMenu()"></div>
            <div class="header-logo">
                <a href="/" class="d-block">
                    <img src="/assets/img/logo_white.png">
                </a>
            </div>
        </div>
        <div class="document-page-left-menu">
            <ul @if="version">
                <li @for="itemMenu of version.menu">
					<a @if="itemMenu.forceLink || !itemMenu.hasSubmenu" [href]="itemMenu.completePath" (click)="onLinkClicked(itemMenu)">
						{{itemMenu.description}}
					</a>
                    <span @if="!itemMenu.forceLink && itemMenu.hasSubmenu">
                        {{itemMenu.description}}
                    </span>
                    <ul @if="itemMenu.hasSubmenu">
                        <li @for="subitem of itemMenu.submenu" [class]="{ 'active': isActive(subitem.completePath) }">
                            <a [href]="subitem.completePath" (click)="onLinkClicked(subitem)">
                                {{subitem.description}}
                            </a>
                            <ul @if="subitem.hasSubmenu && subitem.submenuExpanded">
                                <li @for="subSubitem of subitem.submenu" [class]="{ 'active': isActive(subSubitem.completePath) }">
									<a [href]="subSubitem.completePath" (click)="onLinkClicked(subSubitem)">
										{{subSubitem.description}}
									</a>
									<ul @if="subSubitem.hasSubmenu && subSubitem.submenuExpanded">
										<li @for="subSubSubitem of subSubitem.submenu" [class]="{ 'active': isActive(subSubSubitem.completePath) }">
											<a [href]="subSubSubitem.completePath" (click)="onLinkClicked(subSubSubitem)">
												{{subSubSubitem.description}}
											</a>
										</li>
									</ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="document-page-left-menu-backdrop" (click)="toggleMenu()"></div>
    <div class="document-page-right">
        <div class="document-page-right-header">
            <div class="d-table-cell align-middle">
                <div class="document-page-toggle-menu" (click)="toggleMenu()">
                    <span></span>
                </div>
                <div class="header-logo">
                    <a href="/">
                    </a>
                </div>
                <div class="version-select">
                    <form [form]="versionForm">
                        <label class="mr-1 mb-0">Version: </label>
                        <select form-field-name="version">
                            <option @for="version of versions" [value]="version.id">
                                {{version.name}}
                            </option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="d-table-cell align-middle text-right">
                <div class="document-page-search">
                    <i class="material-icons" title="{{lang.get('HOME.HEADER.SEARCH')}}" role="button" (click)="openSearch()">
                        search
                    </i>
                </div>
                <div class="document-page-lang">
                    <span (click)="toggleLanguageDrop()">
                        <img src="/assets/img/langs/{{lang.currentLang}}.png" alt="{{lang.currentLang}}"/>
                    </span>
                    <div @if="languageDrop" class="document-page-lang-options animated fadeIn">
                        <ul>
                            <li (click)="lang.setCurrentLang('pt-BR')">
                                <img src="/assets/img/langs/pt-BR.png" alt="pt-BR"/>
                                <span>{{lang.get('HOME.HEADER.LANGUAGES.PT_BR')}}</span>
                            </li>
                            <li (click)="lang.setCurrentLang('en-US')">
                                <img src="/assets/img/langs/en-US.png" alt="en-US"/>
                                <span>{{lang.get('HOME.HEADER.LANGUAGES.EN_US')}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="document-page-right-content">
            <nimble-router class="document-page-content-inner"></nimble-router>
        </div>
    </div>
</div>