<div class="document-page">
    <header>
        <div class="document-page-logo">
            <a href="/">
                <img src="/assets/img/logo.svg#white">
            </a>
        </div>
        <div class="d-table-cell">
        </div>
    </header>
    <div class="document-page-area">
        <div class="document-page-menu">
            <ul @if="version">
                <div class="version-select">
                    <form [form]="versionForm">
                        <label>Version: </label>
                        <select form-field-name="version">
                            <option @for="var version of versions" [value]="version.id">
                                {{version.name}}
                            </option>
                        </select>
                    </form>
                </div>
                <li @for="var itemMenu of version.menu">
                    <span @if="!itemMenu.forceLink && itemMenu.hasSubmenu">
                        {{itemMenu.description}}
                    </span>
                    <ul @if="itemMenu.hasSubmenu">
                        <li @for="var subitem of itemMenu.submenu" [class]="{ 'active': isActive(subitem.completePath) }">
                            <a @if="subitem.forceLink || !subitem.hasSubmenu" [href]="subitem.completePath">
                                {{subitem.description}}
                            </a>
                            <span @if="!subitem.forceLink && subitem.hasSubmenu" (click)="expandSubmenu(subitem)">
                                {{subitem.description}}
                            </span>
                            <ul @if="subitem.hasSubmenu && subitem.submenuExpanded">
                                <li @for="var subSubitem of subitem.submenu" [class]="{ 'active': isActive(subSubitem.completePath) }">
                                    <a [href]="subSubitem.completePath">
                                        {{subSubitem.description}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="document-page-content">
            <nimble-router></nimble-router>
        </div>
    </div>
</div>