<div  class="framework-1x-dialogs-page">
    <h1>
        {{getText('TITLE')}}
    </h1>

    <section class="mb-1">
		<h5 class="mt-5">
			<i class="material-icons align-middle">build</i>
			<span class="d-inline-block align-middle">In construction</span>
		</h5>
        <!-- <h4>
            <a href="#teste" name="teste">
                {{getText('TESTE.TITLE')}}
            </a>
        </h4>
        <p class="text-justify mb-3">
            {{getText('TESTE.TEXT_1')}}
        </p> -->
    </section>
</div>