@import 'src/scss/variables';
$maxWidth: 1000px;


.home-page {
    padding-bottom: 106px;

    > main {

        .home-header {
            background-image: radial-gradient(circle, lighten($primaryColor, 20), $primaryColor);
            position: relative;

            // &::before,
            // &::after {
            //     content: '';
            //     position: absolute;
            //     z-index: 0;
            //     background: url('/assets/img/bg_home.png') repeat;
            //     background-size: 100px;
            //     left: 0;
            //     top: 0;
            //     width: 100%;
            //     height: 100%;
            //     opacity: .025;
            // }
            // &::after {
            //     z-index: 1;
            //     opacity: .025;
            //     filter: blur(15px);
            // }
    
            > div {
                max-width: $maxWidth;
                width: 100%;
                padding: 0 18px;
                margin: 0 auto;
    
                > section {
                    width: 100%;
                    display: table;
        
                    > ul {
                        display: table-cell;
                        vertical-align: middle;
                        width: calc(100% - 310px);
                        margin: 0;
                        padding: 0;
                        
                        > li {
                            display: inline-block;
                            list-style-type: none;
                            vertical-align: middle;
                            border-bottom: solid transparent 1px;
                            font-size: 13px;
                            opacity: .7;
                            font-weight: 300;
        
                            > a {
                                padding: 16px 20px;
                                display: block;
                                color: #FFF;
                                text-decoration: none;
                            }

                            &.active {
                                border-color: #FFF;
                                opacity: 1;
                            }
        
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
        
                .home-header-logo {
                    position: absolute;
                    top: 14px;
                    left: calc(50% - 60px);
                    width: 120px;
                    padding-right: 20px;

                    &::after {
                        content: 'framework';
                        position: absolute;
                        display: block;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        font-size: 11px;
                        margin-left: 10px;
                        color: #FFF;
                    }
        
                    > img {
                        display: block;
                        max-width: 120px;
                        height: auto;
                    }
                }
        
                .home-header-search {
                    display: table-cell;
                    vertical-align: middle;
                    width: 150px;
                    margin-left: 20px;
        
                    > input {
                        display: inline-block;
                        vertical-align: middle;
                        width: 100%;
                        padding: 0 14px;
                        border: none;
                        border-radius: 16px;
                        height: 32px;
                        font-size: 13px;
                        outline: 0;
                    }
                }
    
                .home-header-content {
                    position: relative;
                    padding: 80px 18px;
                    margin: 0 -16px;
                    width: calc(100% + 36px);
                    text-align: center;
                    color: #FFF;
                    overflow: hidden;

                    > * {
                        position: relative;
                        z-index: 2;
                    }
                    
                    > h2 {
                        text-shadow: 2px 2px 1px rgba($primaryColor, 1);
                        color: #FFF;
                    }
    
                    > p {
                        font-weight: 200;
                        color: #FFF;
                        text-shadow: 2px 2px 1px rgba($primaryColor, 1);
                    }
    
                    > a {
                        > button {
                            cursor: pointer;
                            border: solid #FFF 2px;
                            background: #FFF;
                            color: $primaryColor;
                            text-align: center;
                            font-size: 15px;
                            font-weight: 500;
                            padding: 12px 25px;
                            border-radius: 25px;
                            margin: 10px 0;
                            transition-duration: .2s;
                            box-shadow: 0px 0px 5px rgba(#FFF, .25);
        
                            &:hover {
                                box-shadow: 0px 0px 10px rgba(#FFF, .5);
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    
        .home-content {
            max-width: $maxWidth;
            width: 100%;
            padding: 20px 30px;
            margin: 0 auto;
    
            .home-about {
                display: table;
                padding: 15px;
                width: calc(100% + 60px);
                margin: 0 -30px;

                h5 {
                }

                p {
                    text-align: justify;
                }
    
                > article {
                    float: left;
                    width: 33.33%;
                    padding: 15px 15px;
                }
            }
        }
    }

    footer {
        padding: 20px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: #FFF;
        color: #444;
        font-size: 12px;
        font-weight: 200;

        > ul {
            display: table;
            margin: 0 auto;
            padding: 0;

            > li {
                padding: 0 5px;
                display: inline-block;
                list-style-type: none;
                vertical-align: middle;
                font-size: 13px;
                font-weight: 300;
                margin-bottom: 10px;

                > a {
                    color: #444;
                    text-decoration: none;

                    > img,
                    > svg {
                        display: block;
                        width: 20px;
                        height: auto;
                    }
                }
            }
        }

        > p {
            text-align: center;
            margin: 0;
            color: #444;
            font-size: 12px;
        }
    }
}