@import 'src/scss/variables';
@import 'src/scss/bootstrap-utils';

$maxWidth: 1000px;

.home-page {
    padding-bottom: 106px;

    > main {

        .home-header {
            background-image: radial-gradient(circle, lighten($primaryColor, 5), darken($primaryColor, 15) 40% 60%, $primaryColor);
            position: relative;
    
            > div {
                max-width: $maxWidth;
                width: 100%;
                padding: 0 18px;
                margin: 0 auto;
    
                > section {
                    position: relative;
                    width: 100%;
                    display: table;
                    height: 52px;
        
                    > ul {
                        display: table-cell;
                        vertical-align: middle;
                        width: calc(100% - 310px);
                        margin: 0;
                        padding: 0;
                        
                        > li {
                            display: inline-block;
                            list-style-type: none;
                            vertical-align: middle;
                            border-bottom: solid transparent 1px;
                            font-size: 13px;
                            opacity: .7;
                            font-weight: 300;
                            text-transform: uppercase;
        
                            > a {
                                padding: 16px 20px;
                                display: block;
                                color: #FFF;
                                text-decoration: none;
                            }

                            &.active {
                                border-color: #FFF;
                                opacity: 1;
                            }
        
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
        
                .home-page-toggle-menu {
                    display: none;
                    vertical-align: middle;
                    margin-left: -10px;
                    padding: 17px 20px;
                    cursor: pointer;
        
                    &::before,
                    &::after,
                    > span {
                        content: '';
                        display: block;
                        width: 32px;
                        height: 3px;
                        background: #FFF;
                    }
        
                    &::before,
                    > span {
                        margin-bottom: 4px;
                    }
                }
        
                .home-header-logo {
                    position: absolute;
                    top: 14px;
                    left: calc(50% - 74px);
                    width: 148px;

                    &::after {
                        content: 'framework';
                        position: absolute;
                        display: block;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        font-size: 12px;
                        color: #FFF;
                    }
        
                    > img {
                        display: block;
                        height: auto;
                    }
                }
        
                .home-header-search {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: right;
                    padding-left: 20px;
                    width: 32px;
        
                    > i {
                        cursor: pointer;
                        color: #FFF;
                        font-size: 24px;
                        display: block;
                    }
                }
        
                .home-header-lang {
                    display: table-cell;
                    vertical-align: middle;
                    width: 54px;
                    padding-left: 15px;
                    font-size: 12px;
                    text-align: right;

                    > span {
                        cursor: pointer;
                        display: block;

                        > img {
                            vertical-align: middle;
                            display: inline-block;
                            margin-right: 2px;
                            border-radius: 3px;
                            border: 1px solid #FFF;
                        }

                        &::after {
                            content: '';
                            vertical-align: middle;
                            display: inline-block;
                            border-top: 5px solid #FFF;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-bottom: 0px solid transparent;
                        }
                    }
                }

                .home-header-lang-options {
                    position: absolute;
                    z-index: 99;
                    top: 40px;
                    right: 0;
                    color: #666;
                    text-align: left;

                    > ul {
                        display: block;
                        padding: 0;
                        margin: 0;
                        border-radius: 3px;
                        box-shadow: 0 0 11px rgba(black, .3);
                        font-size: 12px;

                        > li {
                            padding: 6px 14px 6px 12px;
                            list-style: none;
                            background: #FFF;
                            cursor: pointer;

                            > * {
                                display: inline-block;
                                vertical-align: middle;
                            }

                            > img {
                                border-radius: 2px;
                                margin-right: 5px;
                            }

                            &:not(:only-child):not(:last-child) {
                                border-bottom: 1px #DDD solid;
                            }

                            &:first-child {
                                border-radius: 3px 3px 0 0;
                            }
                            &:last-child {
                                border-radius: 0 0 3px 3px;
                            }
                            
                            &:hover {
                                background: #FAFAFA;
                            }
                        }
                    }
                }
    
                .home-header-content {
                    position: relative;
                    padding: 80px 18px 0 18px;
                    margin: 0 -16px;
                    text-align: center;
                    color: #FFF;
                    z-index: 1;

                    > * {
                        position: relative;
                        z-index: 2;
                    }

                    > a {
                        bottom: -24px;

                        > button {
                        }
                    }
                    
                    > h2 {
                        text-shadow: 2px 2px 1px rgba($primaryColor, 1);
                        color: #FFF;
                    }
    
                    > p {
                        max-width: 300px;
                        margin: 8px auto;
                        font-weight: 200;
                        color: #FFF;
                        text-shadow: 2px 2px 1px rgba($primaryColor, 1);
                    }

                    > pre {
                        text-align: left;
                        max-width: 350px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: -40px;

                        > code {
                            opacity: 1;
                            border: 5px lighten($primaryColor, 5) solid;
                            background: #212121;
                            border-radius: 15px;
    
                            &:hover {
                                border-color: lighten($primaryColor, 5);
                            }
                        }
                    }
                }
            }
        }

        .home-page-menu-backdrop {
            content: '';
            position: fixed;
            z-index: 99;
            transform: translateX(-100%);
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(#000, .4);
            opacity: 0;
            transition: 300ms opacity;
        }
    
        .home-content {
            max-width: $maxWidth;
            width: 100%;
            padding: 80px 30px 150px 30px;
            margin: 0 auto;
            z-index: 1;

            p {
                text-align: justify;
            }
        }
    }

    footer {
        padding: 20px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: #FFF;
        color: #444;
        font-size: 12px;
        font-weight: 200;

        > ul {
            display: table;
            margin: 0 auto;
            padding: 0;

            > li {
                padding: 0 5px;
                display: inline-block;
                list-style-type: none;
                vertical-align: middle;
                font-size: 13px;
                font-weight: 300;
                margin-bottom: 10px;

                > a {
                    color: #444;
                    text-decoration: none;

                    > img,
                    > svg {
                        display: block;
                        width: 20px;
                        height: auto;
                    }
                }
            }
        }

        > p {
            text-align: center;
            margin: 0;
            color: #444;
            font-size: 12px;
        }
    }

    @include media-breakpoint-down(md) {
        > main {
            .home-header {
                > div {
                    > section {
                        > ul {
                            z-index: 999;
                            position: fixed;
                            top: 0;
                            left: 0;
                            display: block;
                            background: $primaryColor;
                            width: 320px;
                            height: 100vh;
                            transform: translateX(0px);
                            transition-duration: 300ms;
                            overflow: hidden;
                            opacity: .5;
                            box-shadow: 0 0 90px rgba(#000, 0);
                            transform: translateX(-320px);
                            
                            > li {
                                display: block;
                                border: none;
                                font-weight: normal;

                                > a {
                                    padding: 12px 20px;
                                }

                                &.active {
                                    font-weight: bold;
                                }
                            }

                            .home-header-menu-close {
                                position: relative;
                                margin: 15px 15px 10px 15px;
                                width: 30px;
                                height: 30px;
                                cursor: pointer;

                                &::after,
                                &::before {
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    width: inherit;
                                    height: 4px;
                                    background: #FFF;
                                }

                                &::after {
                                    transform: translate(-50%, -50%) rotate(44deg);
                                }
    
                                &::before {
                                    transform: translate(-50%, -50%) rotate(-44deg);
                                }
                            }
                        }
                    }

                    .home-page-toggle-menu {
                        display: inline-block;
                    }
                }

                &.menu-slided-to-right {
                    > div {
                        > section {
                            > ul {
                                opacity: 1;
                                transform: translateX(0px);
                                box-shadow: 0 0 90px rgba(#000, .3);
                            }
                        }
                    }
                    
                    ~ .home-page-menu-backdrop {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }
        }
    }
}