<div  class="doc-1x-get-started-page">
    <h1 class="mb-4">
        Get started
    </h1>

    <h4 class="mt-3 mb-3" (click)="testeFunc()">
        <a href="#install-cli" name="install-cli">
            {{testeLabel}}
        </a>
    </h4>
    <section>
        <p class="mb-4">
            Vue provides an official CLI for quickly scaffolding ambitious Single Page Applications.
            It provides batteries-included build setups for a modern frontend workflow.
            It takes only a few minutes to get up and running with hot-reload, lint-on-save, and production-ready builds.
            See the Vue CLI docs for more details.
        </p>

        <h5 class="mt-3 mb-0">
            Run in your terminal
        </h5>
        <pre>
            <code class="shell">
npm i @nimble-ts/cli
            </code>
        </pre>
    </section>

    <h4 class="mt-1 mb-3">
        <a href="#create-a-project" name="create-a-project">
            Create a project
        </a>
    </h4>
    <section>
        <h5 class="mt-3 mb-0" (click)="toggleCode1()">
            <strong>01</strong> - Run in your terminal:
        </h5>
        <pre class="mb-0" @if="showCode1">
            <code class="shell">
nb
            </code>
        </pre>

        <h5 class="mt-0 mb-0">
            <strong>02</strong> - These options will be shown, choose <span class="font-weight-light">"Create a project"</span>:
        </h5>
        <pre>
            <code class="shell">
? Select what do you want:
  Generate
> Create a project
            </code>
        </pre>

        <h5 class="mt-0 mb-0">
            <strong>03</strong> - Then enter the name of the project:
        </h5>
        <pre>
            <code class="shell">
? What is name of the your project? (ex.: my-project) 
            </code>
        </pre>
    </section>
</div>