html {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: $secondaryColor;
    color: #E0E0E0;
    font-family: 'Montserrat', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    color: #EEE;
    margin: 0;
}

h1{ font-size: 24px }
h2{ font-size: 22px }
h3{ font-size: 20px }
h4{ font-size: 18px }
h5{ font-size: 16px }
h6{ font-size: 14px }

h5 {
    margin-bottom: 5px;
}

p {
    color: #E0E0E0;
    margin: 0;
    font-size: 14px;
    font-weight: 200;
}

input {
    font-weight: 200;
    color: #777;
}

* {
    outline: 0;
    box-sizing: border-box;
}

a,
a:visited {
    color: lighten($primaryColor, 10);
    text-decoration: none;
    font-weight: 400;
}
a:hover,
a:active {
    color: $primaryColor;
    text-decoration: underline;
}

.animated {
    animation-duration: 500ms;
}

code {
    color: #d2d2d2;
    background: rgba(#FFF,.1);
    padding: 3px 7px 3px 8px;
    border-radius: 4px;
}