<div class="framework-1x-routes-page">
	<h1>
		{{getText('TITLE')}}
	</h1>
	<p class="text-justify mt-2">
		{{getText('TEXT_1')}}
	</p>

	<section class="mb-1">
		<h4>
			<a href="#life-clycle" name="life-clycle">
				{{getText('LIFE_CYCLE.TITLE')}}
			</a>
		</h4>
		<p [html]="getText('LIFE_CYCLE.TEXT_1')"></p>

		<section class="mt-4">
			<h5 class="border-0 mb-1 pb-1">{{getText('LIFE_CYCLE.STEPS.TITLE')}}</h5>
			<p [html]="getText('LIFE_CYCLE.STEPS.TEXT')"></p>

			<h6 class="border-0 mt-4 mb-1 pb-1">
				01 - {{getText('LIFE_CYCLE.STEPS.ROUTE.TITLE')}}
			</h6>
			<p [html]="getText('LIFE_CYCLE.STEPS.ROUTE.TEXT')"></p>

			<p class="mt-2" [html]="getText('LIFE_CYCLE.STEPS.ROUTE.TEXT_1')"></p>
			<p class="mt-2" [html]="getText('LIFE_CYCLE.STEPS.ROUTE.TEXT_2')"></p>
			<p class="mt-2" [html]="getText('LIFE_CYCLE.STEPS.ROUTE.TEXT_3')"></p>
			<p class="mt-2" [html]="getText('LIFE_CYCLE.STEPS.ROUTE.TEXT_4')"></p>
			<p class="mt-2" [html]="getText('LIFE_CYCLE.STEPS.ROUTE.TEXT_5')"></p>
			<p class="mt-2" [html]="getText('LIFE_CYCLE.STEPS.ROUTE.TEXT_6')"></p>
			<p class="mt-2" [html]="getText('LIFE_CYCLE.STEPS.ROUTE.TEXT_7')"></p>
			<p class="mt-2" [html]="getText('LIFE_CYCLE.STEPS.ROUTE.TEXT_8')"></p>

			<h6 class="border-0 mt-4 pt-1 mb-1 pb-1">
				02 - {{getText('LIFE_CYCLE.STEPS.RERENDER.TITLE')}}
			</h6>
			<p [html]="getText('LIFE_CYCLE.STEPS.RERENDER.TEXT')"></p>

			<p class="mt-2" [html]="getText('LIFE_CYCLE.STEPS.RERENDER.TEXT_1')"></p>
			<p class="mt-2" [html]="getText('LIFE_CYCLE.STEPS.RERENDER.TEXT_2')"></p>
		</section>

		<section class="mt-4">
			<h5 class="border-0 mb-1 pb-1">{{getText('LIFE_CYCLE.LISTENER.TITLE')}}</h5>
			<p [html]="getText('LIFE_CYCLE.LISTENER.TEXT_1')"></p>
			<p class="mt-2" [html]="getText('LIFE_CYCLE.LISTENER.TEXT_2')"></p>
			<p class="mt-2" [html]="getText('LIFE_CYCLE.LISTENER.TEXT_3')"></p>

			<pre>
				<code class="language-javascript">
import { Page, PreparePage } from '@nimble-ts/core/page';
import { Router } from '@nimble-ts/core/route';

@PreparePage({
	style: require('./root.page.scss'),
	template: \`
	&lt;div class="root-page"&gt;
		&lt;div @if="loading"&gt;Carregando...&lt;/div&gt;
		&lt;nimble-router&gt;&lt;/nimble-router&gt;
	&lt;/div&gt;\`
})
export class RootPage extends Page {

	public loading: boolean = true;
	public fnCancelStart: () => void;
	public fnCancelFinished: () => void;

	constructor() {
		super();
	}

	public onEnter() {
		this.fnCancelStart = Router.addListener('STARTED_CHANGE', () => {
			this.render(() => {
				this.loading = true;
			});
		});
		this.fnCancelFinished = Router.addListener(['FINISHED_CHANGE', 'CHANGE_REJECTED', 'CHANGE_ERROR'], () => {
			this.render(() => {
				this.loading = false;
			});
		});
	}
	
	public onExit() {
		this.fnCancelStart();
		this.fnCancelFinished();
	}
}
				</code>
			</pre>
		</section>

	</section>

	<section class="mb-1">
		<h4>
			<a href="#structure" name="structure">
				{{getText('STRUCTURE.TITLE')}}
			</a>
		</h4>
		<p [html]="getText('STRUCTURE.TEXT_1')"></p>

		<pre>
			<code class="language-javascript">
export class RouteBase {
	// {{getText('STRUCTURE.PROPERTIES.PATH')}}
	public path: string;
	
	// {{getText('STRUCTURE.PROPERTIES.PAGE')}}
	public page?: () => Promise | Type&lt;Page&gt; | string;
	
	// {{getText('STRUCTURE.PROPERTIES.CHILDREN')}}
	public children?: RouteBase[];
	
	// {{getText('STRUCTURE.PROPERTIES.DATA')}}
	public data?: { [key: string]: any };
	
	// {{getText('STRUCTURE.PROPERTIES.REDIRECT')}}
	public redirect?: string;

	// {{getText('STRUCTURE.PROPERTIES.GUARD')}}
	public guard?: Type&lt;ActivateRoute&gt;[];
}
			</code>
		</pre>

	</section>

	<section class="mb-1">
		<h4>
			<a href="#cases" name="cases">
				{{getText('CASES.TITLE')}}
			</a>
		</h4>
		<p class="mb-3" [html]="getText('CASES.TEXT_1')"></p>
		<p class="mb-5">
			<span [html]="getText('CASES.TEXT_2')"></span>
			<a href="doc/1x/cli/commands#generate-page">{{lang.get('GLOBAL.HERE')}}</a>.
		</p>

		<section class="mt-2">
			<h5 class="border-0 mb-1 pb-1">{{getText('CASES.CASE_1.TITLE')}}</h5>

			<p [html]="getText('CASES.CASE_1.TEXT')"></p>
			<pre>
				<code class="language-javascript">
export const ROUTES: RouteBase[] = [
	{
		path: 'home',
		page: () => import('./pages/home/home.page').then(x => x.HomePage)
	}
]
				</code>
			</pre>
		</section>

		<section class="mt-3">
			<h5 class="border-0 mb-1 pb-1">{{getText('CASES.CASE_2.TITLE')}}</h5>

			<p [html]="getText('CASES.CASE_2.TEXT_1')"></p>
			<p [html]="getText('CASES.CASE_2.TEXT_2')"></p>
			<pre>
				<code class="language-javascript">
export const ROUTES: RouteBase[] = [
	{
		path: '',
		page: () => import('./pages/root/root.page').then(x => x.RootPage)
		children: [
			{
				path: '',
				page: () => import('./pages/home/home.page').then(x => x.HomePage)
			},
			{
				path: 'about-us',
				page: () => import('./pages/about-us/about-us.page').then(x => x.AboutUsPage)
			}
		]
	}
]
				</code>
			</pre>
		</section>

		<section class="mt-3">
			<h5 class="border-0 mb-1 pb-1">{{getText('CASES.CASE_3.TITLE')}}</h5>

			<p [html]="getText('CASES.CASE_3.TEXT')"></p>
			<pre>
				<code class="language-javascript">
export const ROUTES: RouteBase[] = [
	{
		path: '',
		page: () => import('./pages/home/home.page').then(x => x.HomePage)
	},
	{
		path: 'about-us',
		page: () => import('./pages/about-us/about-us.page').then(x => x.AboutUsPage)
	},
	{
		path: 'admin',
		page: () => import('./pages/admin-root/admin-root.page').then(x => x.AdminRootPage)
		children: [
			{
				path: 'login',
				page: () => import('./pages/admin-login/admin-login.page').then(x => x.AdminLoginPage)
			},
			{
				path: 'dashboard',
				page: () => import('./pages/admin-dashboard/admin-dashboard.page').then(x => x.AdminDashboardPage)
			},
		]
	}
]
</code>
			</pre>

			<h6 class="border-0 mb-1 pb-1">{{getText('CASES.CASE_3.ATTENTION.TITLE')}}</h6>
			<p [html]="getText('CASES.CASE_3.ATTENTION.TEXT')"></p>
			<pre>
				<code class="language-html">
&lt;div class="root-admin-page"&gt;
	&lt;nimble-router&gt;&lt;/nimble-router&gt;
&lt;/div&gt;
				</code>
			</pre>

		</section>

		<section class="mt-2">
			<h5 class="border-0 mb-1 pb-1">{{getText('CASES.CASE_4.TITLE')}}</h5>

			<p [html]="getText('CASES.CASE_4.TEXT')"></p>
			<pre>
				<code class="language-javascript">
export const ROUTES: RouteBase[] = [
	{ path: 'old-route', redirect: '/new-route' },
	{
		path: 'new-route',
		page: () => import('./pages/home/home.page').then(x => x.HomePage)
	},
]
				</code>
			</pre>
		</section>

		<section class="mt-2">
			<h5 class="border-0 mb-1 pb-1">{{getText('CASES.CASE_5.TITLE')}}</h5>

			<p [html]="getText('CASES.CASE_5.TEXT')"></p>
			<pre>
				<code class="language-javascript">
export const ROUTES: RouteBase[] = [
	{
		path: 'not-found',
		page: () => import('./pages/not-found/not-found.page').then(x => x.NotFoundPage)
	},
	{ path: '**', redirect: '/not-found' },
]
				</code>
			</pre>
		</section>
	</section>

	<section class="mb-1">
		<h4>
			<a href="#data" name="data">
				{{getText('DATA.TITLE')}}
			</a>
		</h4>
		<p class="mb-5" [html]="getText('DATA.TEXT')"></p>

		<h5 class="border-0 mb-1 pb-1">{{getText('DATA.STEP_1.TITLE')}}</h5>
		<p [html]="getText('DATA.STEP_1.TEXT')"></p>
		<pre>
			<code class="language-javascript">
export const ROUTES: RouteBase[] = [
	{
		path: 'example01',
		page: () => import('./pages/example/example.page').then(x => x.ExamplePage),
		data: { myData: 'Hello example 1' }
	},
	{
		path: 'example02',
		page: () => import('./pages/example/example.page').then(x => x.ExamplePage),
		data: { myData: 'Hello example 2' }
	}
]
			</code>
		</pre>

		<h5 class="border-0 mb-1 pb-1">{{getText('DATA.STEP_2.TITLE')}}</h5>
		<p [html]="getText('DATA.STEP_2.TEXT')"></p>
		<pre>
			<code class="language-javascript">
import { Page, PreparePage } from '@nimble-ts/core/page';
import { RouteParams } from '@nimble-ts/core/providers/route-params';

@PreparePage({
	template: require('./example.page.html'),
	style: require('./example.page.scss')
})
export class ExamplePage extends Page {

	constructor(
		private routeParams: RouteParams
	) {
		super();
	}

	public onInit() {
		let myData = this.routeParams.data.myData;
		console.log(myData);
	}

}
			</code>
		</pre>
	</section>

	<section class="mb-1">
		<h4>
			<a href="#parameters" name="parameters">
				{{getText('PARAMETERS.TITLE')}}
			</a>
		</h4>
		<p class="mb-5" [html]="getText('PARAMETERS.TEXT')"></p>

		<h5 class="border-0 mb-1 pb-1">{{getText('PARAMETERS.STEP_1.TITLE')}}</h5>
		<p [html]="getText('PARAMETERS.STEP_1.TEXT')"></p>
		<pre>
			<code class="language-javascript">
export const ROUTES: RouteBase[] = [
	{
		path: 'articles',
		page: () => import('./pages/articles/articles.page').then(x => x.ArticlesPage)
	},
	{
		path: 'articles/{id}',
		page: () => import('./pages/article/article.page').then(x => x.ArticlePage),
	}
]
			</code>
		</pre>

		<h5 class="border-0 mb-1 pb-1">{{getText('PARAMETERS.STEP_2.TITLE')}}</h5>
		<p [html]="getText('PARAMETERS.STEP_2.TEXT')"></p>
		<pre>
			<code class="language-javascript">
mport { Page, PreparePage } from '@nimble-ts/core/page';
import { RouteParams } from '@nimble-ts/core/providers/route-params';

@PreparePage({
	template: require('./article.page.html'),
	style: require('./article.page.scss')
})
export class ArticlePage extends Page {

	constructor(
		private routeParams: RouteParams
	) {
		super();
	}

	public onInit() {
		let articleId = this.routeParams.params.id;
		console.log(articleId);
	}

}
			</code>
		</pre>
	</section>

	<section class="mb-1">
		<h4>
			<a href="#guard" name="guard">
				{{getText('GUARD.TITLE')}}
			</a>
		</h4>
		<p class="mb-3" [html]="getText('GUARD.TEXT_1')"></p>
		<p class="mb-3" [html]="getText('GUARD.TEXT_2')"></p>
		<p class="mb-5">
			<span [html]="getText('GUARD.TEXT_3')"></span>
			<a href="doc/1x/cli/commands#generate-guard">{{lang.get('GLOBAL.HERE')}}</a>.
		</p>

		<section class="mt-2">
			<h5 class="border-0 mb-1 pb-1">{{getText('GUARD.STEP_1.TITLE')}}</h5>

			<p [html]="getText('GUARD.STEP_1.TEXT')"></p>
			<pre>
				<code class="language-javascript">
import { RouteBase } from '@nimble-ts/core';
import { AuthGuard } from './route-guards/auth.guard';

export const ROUTES: RouteBase[] = [
	{
		path: 'login',
		page: () => import('./pages/public/login/login.page').then(x => x.LoginPage)
	}
	{
		path: 'admin',
		guard: [AuthGuard],
		page: () => import('./pages/admin/admin.page').then(x => x.AdminPage),
		children: [
			{
				path: 'dashboard',
				page: () => import('./pages/admin/dashboard/dashboard.page').then(x => x.DashboardPage)
			},
			{
				path: 'users',
				page: () => import('./pages/admin/users/users.page').then(x => x.UsersPage)
			}         
		]
	}
];
				</code>
			</pre>
		</section>

		<section class="mt-2">
			<h5 class="border-0 mb-1 pb-1">{{getText('GUARD.STEP_1.TITLE')}}</h5>
			<p [html]="getText('GUARD.STEP_2.TEXT')"></p>
			<pre>
				<code class="language-javascript">
import { RouteGuard, Route, Router } from '@nimble-ts/core/route';
import { Injectable } from '@nimble-ts/core/inject';
import { AuthService } from 'src/services/auth.service';

@Injectable()
export class AuthGuard extends RouteGuard {

	constructor(
		private authService: AuthService
	){
		super();
	}

	public doActivate(currentPath: string, nextPath: string, route: Route): boolean {
	
		if (nextPath !== '/login' && !this.authService.isLogged) {
			Router.redirect('/login');
			return false;
		}

		return true;
	}
}
				</code>
			</pre>
		</section>
	</section>
</div>